/* fonts */
@font-face {
    font-family: 'Gotham Pro Regular';
    src: url('../fonts/GothamPro.eot');
    src: url('fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
        url('fonts/GothamPro.woff') format('woff'),
        url('fonts/GothamPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro Bold';
    src: url('fonts/GothamPro-Bold.eot');
    src: url('fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/GothamPro-Bold.woff') format('woff'),
        url('fonts/GothamPro-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

.main {
    height: 1000px;
    background-image: linear-gradient(to bottom, rgba(26, 46, 58, 0.9), rgba(52, 91, 117, 0.9)),
    url('../img/main_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.container {
}

.main_top_nav {
    padding-top: 62px;
}

.main_block {
    margin-top: 195px;
}

.main_nav {
    list-style: none;
    margin-top: 45px;
    padding: 0;
    text-transform: uppercase;
    font-family: 'Gotham Pro Bold', sans-serif;
    font-size: 18px;
}

.main_nav_item {
    margin-bottom: 28px;
}

.main_nav_item a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.main_nav_item a:hover {
    color: #DBA682;
    transition: 0.3s;
}

.main_block_content_img {
    margin-left: -50px;
}

.main_block_content_parag {
    font-size: 16px;
    font-family: 'Roboto Regular', sans-serif;
    margin-top: 25px;
}

.main_block_content_btn {
    width: 200px;
    height: 50px;
    margin-top: 25px;
    background-color: #DBA682;
    border: none;
    font-family: 'Gotham Pro Bold', sans-serif;
    font-size: 14px;
    color: white;
}