/* fonts */
@font-face {
    font-family: 'Gotham Pro Regular';
    src: url('../fonts/GothamPro.eot');
    src: url('fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
        url('fonts/GothamPro.woff') format('woff'),
        url('fonts/GothamPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro Bold';
    src: url('fonts/GothamPro-Bold.eot');
    src: url('fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/GothamPro-Bold.woff') format('woff'),
        url('fonts/GothamPro-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* html file */

* {
    padding: 0;
    margin: 0;
}

.section_header {
    font-family: 'Gotham Pro Bold', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
}

.section_subheader {
    color: #DBA682;
    font-size: 35px; 
    margin-top: -15px;
}

.dark {
    color: black;
}

.light {
    color: white;
}

/* main section */

.main {
    height: 1000px;
    background-image: 
    url('../img/main_bg_logo.png'),
    linear-gradient(rgba(26, 46, 58, 0.95), rgba(52, 91, 117, 0.95)),
    url('../img/main_bg.png');
    background-repeat: no-repeat, repeat;
    background-size: cover, cover;
    color: white;
}

.main_top_nav {
    padding-top: 62px;
}

.main_block {
    margin-top: 195px;
}

.main_nav {
    list-style: none;
    margin-top: 45px;
    padding: 0;
    text-transform: uppercase;
    font-family: 'Gotham Pro Bold', sans-serif;
    font-size: 18px;
}

.main_nav_item {
    margin-bottom: 28px;
}

.main_nav_item a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.main_nav_item a:hover {
    color: #DBA682;
    transition: 0.3s;
}

.main_block_content_img {
    margin-left: -50px;
}

.main_block_content_parag {
    font-size: 16px;
    font-family: 'Roboto Regular', sans-serif;
    margin-top: 25px;
    text-align: justify;
}

.section_btn {
    width: 200px;
    height: 50px;
    margin-top: 25px;
    background-color: #DBA682;
    border: none;
    font-family: 'Gotham Pro Bold', sans-serif;
    font-size: 14px;
    color: white;
}

#main_timer {
    font-size: 50px;
    font-family: 'Gotham Pro Bold', sans-serif;
}

.main_timer_temp {
    margin-left: 20px;
}

.main_timer_temp_item {
    display: inline-block;
    margin-right: 37px;
    font-size: 14px;
}

.main_lang {
    margin-top: 25px;
}

.main_lang_item {
    padding: 9px 9px;
    font-family: 'Gotham Pro Bold', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 16px;
    border: 1px solid white;
    margin-left: 10px;
    transition: 0.3s;
    float: right;
}

.main_lang_item:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
}

.lang_active {
    background-color: white;
    color: black;
}

/* conference */

.conference {
    background-color: #E8E8F3;
    padding: 80px;
    text-align: justify;
}

.conference_parag {
    font-family: 'Gotham Pro Regular', sans-serif;
    margin: 15px 0;
    font-size: 14px;
}

.conference_img {
    width: 544px;
}

/* program section */

.program {
    padding: 80px;
    position: relative;
}

.program_bg_logo {
    position: absolute;
    top: 550px;
    left: -40px;
}

.program_btn {
    width: 233px;
    height: 50px;
    border: 1px solid #DBA682;
    font-size: 14px;
    font-family: 'Gotham Pro Bold', sans-serif;
    color: #DBA682;
    background-color: rgba(0, 0, 0, 0);
    float: right;
    transition: 0.3s;
}

.program_btn:hover {
    color: white;
    border: 1px solid white;
    transition: 0.3s;
}

.program_info_block {
    background-color: white;
    margin-top: 80px;
    padding-bottom: 100px;
}

.program_info_dates {
    width: 520px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 14px;
    font-family: 'Gotham Pro Bold',sans-serif;
    position: relative;
}

.program_info_dates_days {
    display: block;
    margin-top: 60px;
    color: black;
    text-decoration: none;
    opacity: 0.2;
}

.dates_active {
    color: #DBA682;
    opacity: 1;
}

.dates_underline {
    position: absolute;
    bottom: -20px;
    opacity: 0;
}

.dates_underline_active {
    border: 1px solid #DBA682;
    position: absolute;
    bottom: -37px;
    margin-right: 20px;
    width: 130px;
    opacity: 1;
}

.program_info_date_underline {
    width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 75px;
}

.program_info_collapse {
    width: 1030px;
    margin: 0 auto;
    padding: 15px 30px;
    margin-bottom: 20px;
    border: 1px solid #E8E8F3;
    font-family: 'Gotham Pro Regular', sans-serif;
}

.collapse_info {
    border-bottom: 1px solid #E8E8F3;
}

.collapse_info_block {
    display: inline-block;
    margin-right: 20px;
}

.collapse_info_block h6 {
    color: #DBA682;
}

.collapse_info_block p {
    margin-top: -5px;
}

.collapse_btn {
    width: 100%;
    padding: 18px 0;
    border: none;
    text-align: left;
    outline: none;
    background-color: white;
    color: black;
    font-family: 'Gotham Pro Bold', sans-serif;
    font-size: 18px;
}

.unactive_collapse {
    display: none;
}

.program_info_btn {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
}

.location {
    background-image: url('../img/main_bg_logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px;
}

.location_list {
    margin-top: 60px;
}

.location_item h2 {
    display: block;
    position: absolute;
    font-family: 'Gotham Pro Bold', sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    bottom: 20px;
    margin-left: 10px;
}

.location_list {
    position: relative;
}

.wrapper {
    background-image: linear-gradient(rgba(26, 46, 58, 1), rgba(52, 91, 117, 1));
}